html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


h1 {
  font-size: 5rem;
  font-family: sans-serif;
  text-align: center;
}

strong {
  display: inline-block;
  text-align: left;
}
